.oferta-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 88px;
}

.oferta-cards .card {
  color: var(--text-secondary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  border-radius: 16px;
  text-align: center;
  box-sizing: border-box;
}

.oferta-cards .card header {
  display: block;
  background: transparent;
  position: static;
  padding: 24px 16px;
}

.oferta-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.oferta-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin-top: 8px;
}

.oferta-cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.oferta-cards .card.japao {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../img/card-japao.jpg) center / cover;
}

.oferta-cards .card.san-andreas {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../img/card-san-andreas.jpg) center / cover;
}

.oferta-cards .card.san-andreas header h3 {
  width: 263px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.oferta-cards .card.paraiba {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../img/card-paraiba.jpg) center / cover;
}

.oferta-cards .card.manaus {
  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../img/card-manaus.jpg) center / cover;
}

/* TABLET EM DIANTE */

@media screen and (min-width: 768px) {
  .oferta-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* NOTEBOOK / LAPTOP */

@media screen and (min-width: 1024px) {
  .oferta-cards {
    padding-bottom: 104px;
  }

  .oferta-cards .card {
    width: 420px;
    height: 308px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .oferta-cards .card {
    width: 550px;
    height: 308px;
  }

  .oferta-cards .card header h3 {
    font-size: 48px;
  }

  .oferta-cards .card header span {
    font-size: 40px;
  }

  .oferta-cards .card.san-andreas header h3 {
    width: 524px;
  }
}

/* TELAS GRANDES */

@media screen and (min-width: 1440px) {
  .oferta-cards .card {
    width: 588px;
    height: 308px;
  }
}
