.pagamento {
  margin: 0px 24px 88px 24px;
}

.texto-content h3 {
  width: 312px;
  height: auto;
  font-size: 28px;
  font-weight: var(--title-weight);
  margin-bottom: 24px;
}

.texto-content p {
  width: 312px;
  font-size: 20px;
  font-weight: var(--text-weight);
  margin-bottom: 24px;
}

.imagem.mala {
  background-image: url(../img/mala-mobile.png);
  background-size: cover;
  background-position: center;
}

.imagem.passaporte {
  background-image: url(../img/passaporte-mobile.png);
  background-size: cover;
  background-position: center;
}

.imagem.pessoas {
  background-image: url(../img/pessoas-mobile.png);
  background-size: cover;
  background-position: center;
}

.imagem.pessoas {
  grid-column: span 2;
}

.imagem-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  height: 460px;
}
